body {
    background-color: #F4EEE0 !important;
    color: #000000 !important;

}
/* HEAD INTRO SECTION  */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.head {
    text-align: center;
}

/* NAVBAR SECTION  */

.dropdown-toggle::after {
    display: none !important;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 50px;
    margin-left: 25px;
    color: #000000 !important;

}

/* PHOTO CAROUSEL */

/* Position the carousel images at the top of the screen below the navbar */
#kashmirPhotosCarousel {
    position: relative;
    top: 20px; /* Adjust for your navbar height */
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-inner .carousel-item {
    width: 100%; /* Adjust as needed */
    max-height: 630px; /* Adjust as needed */
    margin: 0 auto; /* Center the carousel items */
}

/* Define dimensions for the image frame */
.carousel-inner .carousel-item .image-frame {
    width: 1200px; /* Adjust the width as needed */
    height: 630px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the image frame */
    overflow: hidden;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.6);
}

/* Make images fill the frame while preserving aspect ratio */
.carousel-inner .carousel-item .image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

/* Carousel button position change */
.carousel-control-prev {
    left: 50px !important; /* Adjust the left position */
}

.carousel-control-next {
    right: 50px !important; /* Adjust the right position */
}

/* FOR MOBILE DEVICES */

@media (max-width: 720px) {

    .grid-container {
        display: block;
        text-align: center;
    }
    
    .logo-img {
        display: none;
    }

    .image-frame {
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        width: 100%; /* Ensure the container takes full width */
        height: 300px; /* Set desired height */
        border: 1px solid #ccc; /* Just for visualization */
    }

    .centre-image {
        max-width: 100%; /* Ensure the image doesn't exceed container width */
        max-height: 100%; /* Ensure the image doesn't exceed container height */
    }

}
