
/* !------------------------------------------------------------ INDEX ------------------------------------------------------------! */


body {
    background-color: #F4EEE0 !important;
    color: #000000 !important;

}

/* HEAD INTRO SECTION  */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.head {
    text-align: center;
}

/* NAVBAR SECTION  */

.navbar-nav .nav-link {
    margin: 3px 30px;
}

/* PHOTO CAROUSEL */

    /* Position the carousel images at the top of the screen below the navbar */
    #kashmirPhotosCarousel {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .carousel-inner .carousel-item {
        width: 100%; /* Adjust as needed */
        max-height: 630px; /* Adjust as needed */
        margin: 0 auto; /* Center the carousel items */
    }

    /* Define dimensions for the image frame */
    .carousel-inner .carousel-item .image-frame {
        width: 1200px; /* Adjust the width as needed */
        height: 630px; /* Adjust the height as needed */
        margin: 0 auto; /* Center the image frame */
        overflow: hidden;
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.6);
    }

    /* Make images fill the frame while preserving aspect ratio */
        .carousel-inner .carousel-item .image-frame img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
        }

    /* Carousel button position change */
        .carousel-control-prev {
            left: 50px !important; /* Adjust the left position */
        }

        .carousel-control-next {
            right: 50px !important; /* Adjust the right position */
        }

/* INFORMATION SECTION  */

    /* Links Section  */
    
        .info-container {
            display: grid;
            grid-template-columns: 2fr 8fr;
            margin-top: 15px;
            gap: 20px;
        }

        .info-links {
            margin-left: 20px;
            text-align: left;
            background-color: white;
            padding: 20px;
        }

        .info-links a {
            color: #000000;
        }

        .info-links li {
            list-style-type: circle;
        }

        .info-head {
            text-align: center;
        }

    /* Information Section  */

        .info-grid{
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .info-grid-item {
            text-align: center;
            margin: 10px;
            margin-bottom: 1em;
        }

        .info-main-grid {
            text-align: center;
        }

        .info-main-item {
            text-align: center;
            margin: 10px;
        }

        .info-img {
            width: 25em;
            border: solid 2px;
            margin: 0 auto 10px;
        }

/* FOOTER  */

footer {
    background-color: rgb(45, 41, 41);
    width: 100%;
    padding: 10px 0; 
    color: white;
    text-align: center;
}

footer a {
    margin: 10px;
    color: white;
}

.social-media-logo a {
    margin: 0 10px;
}

#footer-disclaimer {
    font-size: 8px;
    margin-top: 15px;
    width: auto;
}



/* FOR MOBILE DEVICES */

    @media (max-width: 1080px) {

        .head-section {
            text-align: center;
        }

        .grid-container {
            display: block;
            text-align: center;
        }
        
        .logo-img {
            display: none;
        }

        .centre-image {
            max-width: 100%; /* Ensure the image doesn't exceed container width */
            max-height: 100%; /* Ensure the image doesn't exceed container height */
        }

        .info {
            padding: 0;
        }

        .info-container {
            display: flex; /* Use flex display to center align horizontally */
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
        }
    
        .info p {
            text-align: left;
        }
    
        .info-img {
            width: 50%;
            max-width: 100%; /* Ensure the image doesn't exceed container width */
            height: auto; /* Allow the height to adjust proportionally */
            border: solid 2px;
            display: block;
        }

        .info-links {
            display: none;
        }

    }

/* !------------------------------------------------------------ END ------------------------------------------------------------! */

/* !------------------------------------------------------------ INFO.HTML ------------------------------------------------------------! */

.kashmiri-pandit-info {
    padding: 30px;
    text-align: center;
}

.info-intro {
    text-align: left;
    font-weight: bold;
}

.info-quote {
    font-style: italic;
    padding: 10px;
    text-align: center;
}

.info-main {
    margin: 20px 0;
    line-height: 1.6;
}


/* !------------------------------------------------------------ TABLE SECTION ------------------------------------------------------------! */

.table-section {
    padding: 0 20px;
}

.table-img {
    float: left;
    margin: 1px 5px;
}

.table-responsive p {
    text-align: justify;
    font-size: 15px;
  }
